@font-face {
  font-family: "Determination Mono";
  font-weight: normal;
  src: url(./fonts/determination-mono.woff);
}
@font-face {
  font-family: "Determination Sans";
  font-weight: normal;
  src: url(./fonts/determination-sans.woff);
}
@font-face {
  font-family: "Mercy";
  src: url(./fonts/mercy.woff2);
}

:root {
  font-size: 2.5rem;
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 1.5rem;
  }
}