:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-orange: #ff7f27;
  --clr-yellow: #ffff00;
  --clr-blue: #00a2e8;
  --clr-table: #d5b17f;

  --pad-inline: min(5rem, 8%);
  box-sizing: border-box;
  image-rendering: pixelated;
}

* {
  font-family: 'Determination Sans';
}

body {
  margin: 0;
  background-color: var(--clr-table);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 0.5rem var(--pad-inline);
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: var(--clr-white) solid 4px;
}

header {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  >* {
    min-width: max-content;
  }
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-block: 0 1rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-block: 0 0.5rem;
}

a {
  color: var(--clr-orange);
}

a:visited {
  color: var(--clr-yellow);
}

button {
  --_btn-color-main: var(--btn-color-main, var(--clr-orange));
  --_btn-color-hover: var(--btn-color-hover, var(--clr-yellow));

  font-family: "Mercy";
  font-size: 1rem;
  height: fit-content;
  padding-inline: 0.35em;
  background-color: var(--clr-black);
  color: var(--_btn-color-main);
  border: var(--_btn-color-main) solid 3px;
}

button:hover {
  color: var(--_btn-color-hover);
  border-color: var(--_btn-color-hover);
}

nav {
  flex: 1;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(auto-fit, 210px);
  gap: 0.25rem;
}

footer {
  padding: 0.5rem var(--pad-inline);
  text-align: center;
  font-size: 0.75em;
}

#content {
  flex: 1;
}

.small-temmie {
  height: 96px;
}

.storefront {
  width: 100%;
  min-height: 320px;
  background-image: url(./images/shop-bg.png);
  background-position: center;
  aspect-ratio: 8 / 3;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;

  .small-temmie {
    translate: 0 -48px;
  }
}

.storefront + .info-section {
  padding: 1rem var(--pad-inline);
  display: flex;
  justify-content: space-between;
  
  p {
    color: #222222;
  }
}

.storefront .shopkeeper {
  height: 75%;
}

.shop-page .shopkeeper {
  --_shopkeeper-popup-height: 160px;
  height: var(--_shopkeeper-popup-height);
  position: absolute;
  top: calc(var(--_shopkeeper-popup-height) * -1);
  right: 0;
}

.shop-page > ul,
.shop-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shop-page {
  padding: 0.5rem var(--pad-inline);
}

.shop-page > ul {
  display: grid;
  gap: 0.25rem;
  position: relative;
}

.shop-item {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: var(--clr-white) solid 4px;
  padding: 0.5rem 1.5rem;
}

.shop-item__name, .shop-item__price {
  font-weight: 400;
  margin: 0;
}

.shop-item__name .shop-item__note {
  color: var(--clr-blue);
  &::before { content: " ("; }
  &::after  { content: ")"; }
}

.shop-item__price {
  &::after { content: "G"; }
}


@media screen and (max-width: 600px) {
  nav { justify-content: center }
  nav button { font-size: 1em }

  .shop-page .shopkeeper {
    --_temmie-popup-height: 120px;
  }
}