:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-orange: #ff7f27;
  --clr-yellow: #ffff00;
  --clr-table: #d5b17f;

  --pad-inline: min(5rem, 8%);
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: var(--clr-table);
}

header {
  padding-inline: var(--pad-inline);
  background-color: var(--clr-black);
  color: #fff;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: var(--clr-white) solid 4px;
}

h1 {
  font-weight: normal;
  min-width: max-content;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0;
}

button {
  --_btn-color-main: var(--btn-color-main, var(--clr-orange));
  --_btn-color-hover: var(--btn-color-hover, var(--clr-yellow));

  font-family: "Mercy";
  font-size: 2.5rem;
  height: fit-content;
  padding-inline: 1em;
  background-color: var(--clr-black);
  color: var(--_btn-color-main);
  border: var(--_btn-color-main) solid 3px;
}

button:hover {
  color: var(--_btn-color-hover);
  border-color: var(--_btn-color-hover);
}

nav {
  flex: 1;
  margin-top: 1rem;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(auto-fit, 210px);
  gap: 0.5rem;
}

.tem-shop {
  width: 100%;
  min-height: 320px;
  background-image: url(./images/temshop.png);
  background-position: center;
  aspect-ratio: 8 / 3;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: end;
}

#temmie {
  height: 75%;
}

